*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    /* background: black; */
    background-image:url(https://myradar.com/static/background-a089d87ba11e1a4c45a8efa960b86092.jpg);
}
.card{
    width: 90%;
    max-width: 470px;
    /* background:linear-gradient(135deg, hsl(240, 68%, 47%), #32dd71); */
    background: rgba(24, 23, 23, 0.3);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    border:solid gray 2px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: white;
    color: black;
    padding: 10px 25px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.error{
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}


.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.weather{
    display: none;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}